
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<style>
		body{
			margin: 0px;
			padding: 0px;
		}
		.navbar-nav li a{
	font-size: 16px;
	font-weight: bold;
	margin-left: 1em; 
	color: black!important;
	text-decoration: none;
}



.logout a:hover{
	background-color: #000;
	color: red!important;
	font-size: bold;
}
.nav-btn a:hover{
	color: blue!important;
}
		.list ul li a{
			color: black;
	font-size: 13px;
	text-decoration: none;
}
	.cp-text{ 
	padding: 1%;
	margin-top: 30px;
	margin-bottom: 0px;
	width: 100%;
	background:#777;
	font-size: 12px;
	 text-align: center;
	color: rgba(0,0,0,.7);
	text-shadow: 0 1px rgba(255, 255, 255, 0.1);
	}
	.zoom {
  transition: transform .2s; /* Animation */
}

.zoom:hover {
  transform: scale(1.1);
}
h2{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	color: #29ACE0;
}
	</style>
</head>
<body>
	
<!-- <table style="width: 100%; height: 50px; background-color:#29ace0; text-decoration: none;" >
	<tr>
		<td ><img src="../static/images/flogo.png" style="margin-left: 3%;" width="80px" height="80px"  ></td>
		<td style="text-align: center; width: 40%;">
		<a href="/" style="margin-right: 2%; text-decoration: none;"><b>HOME</b></a>
		<a href="/about" style="margin-right: 2%;text-decoration: none; "><b>ABOUT US</b></a>
		<a href="/contact" style="margin-right: 2%;text-decoration: none;"><b>CONTACT US</b></a>
		<a href="/sops" style="margin-right: 2%;text-decoration: none;"><b>SOPs</b></a>
		<a href="/logout" style="margin-right: 2%;text-decoration: none;"><b>LOGOUT</b></a>

	</td>

	</tr>
</table> -->

<nav class="navbar navbar-expand-lg" style="background-color:#29ace0">
	<div class="container-fluid">
	  <a class="navbar-brand figure-img img-fluid rounded" href="/"><img src="../static/images/flogo.png" style="margin-left: 3%;" width="100px" height="100px"></a>
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon" style="background-color: black; height: 5px"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav" >
		<ul class="navbar-nav ml-auto" >
		  <li class="nav-item nav-btn">
			<a class="nav-link active" aria-current="page" href="/">Home</a>
		  </li>
		  <li class="nav-item nav-btn">
			<a class="nav-link" href="/about">About Us</a>
		  </li>
		  <li class="nav-item nav-btn">
			<a class="nav-link" href="/contact">Contact Us</a>
		  </li>
		  <li class="nav-item nav-btn">
			<a class="nav-link" href="/sops">SOP's</a>
		  </li>
		  <li class="nav-item logout">
			<a class="nav-link" style="border: 1px solid red; padding: 8px 10px; border-radius: 50px;" href="/logout">LOGOUT</a>
		  </li>
		</ul>
	  </div>
	</div>
  </nav>

<h2 style="text-align:center; margin-top: 30px;">About Us</h2>

<p style="text-align: center; margin-left: 20%; margin-right: 20%;">Covid SOPs Checker will detect those people who are not following the SOPs. This virus can be affected from human to human through airborne droplets. According to the instructions from WHO, to reduce the spread of COVID-19, every person needs to wear face mask, follow social distancing, evade crowded areas and check the temperature as well. Therefore, to protect everyone, every person should wear the face mask properly when they go outdoors.</p>

<h2 style="text-align: center;">Team Members</h2>

<div class="container">
	<div class="row" style="text-align: center;">

		<div class="col-lg-6 col-md-6 col-sm-12 mt-3">
			<figure class="figure">
				<img src="../static/images/ali.png" class="figure-img img-fluid rounded">
				<figcaption class="figure-caption" style="font-size: 16px">Muhammad Ali</figcaption>
			  </figure>
		</div>
	
		<div class="col-lg-6 col-md-6 col-sm-12 mt-3">
			<figure class="figure">
				<img src="../static/images/ahmad.png" class="figure-img img-fluid rounded">
				<figcaption class="figure-caption" style="font-size: 16px">Ahmad Siddiqui</figcaption>
			  </figure>
		</div>
	
	</div>
</div>


<!-- <table width="50%" style="margin-left: 350px;">
	<tr>
		<td width="330px" height="270px"><img src="../static/images/ali.png" height="250px" width="250px"  ></td>
		<td width="330px" height="270px" ><img src="../static/images/ahmad.png" height="250px" width="250px" ></td>
			</tr>
</table> -->

<!-- <table width="50%" style="margin-left: 420px;">
	<tr>
		<td width="330px" >Muhammad Ali</td>
		<td width="330px" >Ahmad Siddiqui</td>
			</tr>
</table> -->

<br><br>

<!--Footer-->
<!-- <Table width="100%" height="300px" style="background-color:#29ace0;"">
	<tr>
		<td class="zoom"  width="330px" align="center"><img src="../static/images/logo.png"  width="150px" height="150px"  ></td>
		<td width="330px">
			<ul style="list-style: none;">
				
			<h3 style="text-align: center;"><b>Menu</b></h3>
		<li align="center" width="20%"><a href=""> HOME</a></li>
		<li align="center" width="20%"><a href="">ABOUT US</a></li>
		<li align="center" width="20%"><a href="">CONTACT US</a></li>
		<li align="center" width="20%"><a href="">SOPs</a></li>
		<li align="center" width="20%"><a href="">FAQs</a></li>

		</ul>
	</td>
		<td width="330px">
			<ul style="list-style: none; color: black;">
				<h3><b>Our Aim</b></h3>
				<li>Save Lives</li>
				<li>Protect People</li>
				<li>Healthy Environment</li>
				<li>Decrease Covid Ratio</li>
				<li>Save Time</li>

			</ul>
		</td>
		
	</tr>

</Table> -->

<footer style="text-align: center; padding-top: 30px; background-color: #29ace0; margin-top: 0px;">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-12 mt-3 zoom" >
				<img src="../static/images/logo.png" style="margin-left: 8%;" width="150px" height="150px" class="figure-img img-fluid rounded" >
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 mt-3 list">
				<ul style="list-style: none;">
				
					<h3 style="text-align: center; font-size: 25px;"><b>Menu</b></h3>
				<li width="20%"><a href=""> HOME</a></li>
				<li width="20%"><a href="">ABOUT US</a></li>
				<li width="20%"><a href="">CONTACT US</a></li>
				<li width="20%"><a href="">SOPs</a></li>
				<li width="20%"><a href="">FAQs</a></li>
		
				</ul>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 mt-3 list">
				<ul style="list-style: none; color: black;">
					<h3 style="font-size: 25px;"><b>Our Aim</b></h3>
					<li>Save Lives</li>
					<li>Protect People</li>
					<li>Healthy Environment</li>
					<li>Decrease Covid Ratio</li>
					<li>Save Time</li>
	
				</ul>
			</div>
		</div>
	
	</div>
	<p class="cp-text">
		© Copyright 2022 COVID SOP'S CHECKER. All rights reserved.
	</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>