<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<style>
		body{
			margin: 0px;
			padding: 0px;
		}
		.navbar-nav li a{
	font-size: 16px;
	font-weight: bold;
	margin-left: 1em; 
	color: black!important;
	text-decoration: none;
}

.logout:hover{
	background-color: #000;
	color: red!important;
	font-size: bold;
}
		.list ul li a{
			color: black;
	font-size: 13px;
	text-decoration: none;
}
	.cp-text{ 
	padding: 1%;
	margin-top: 30px;
	margin-bottom: 0px;
	width: 100%;
	background:#777;
	font-size: 12px;
	 text-align: center;
	color: rgba(0,0,0,.7);
	text-shadow: 0 1px rgba(255, 255, 255, 0.1);
	}
	.zoom {
  transition: transform .2s; /* Animation */
}

.zoom:hover {
  transform: scale(1.1);
}
h2{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	color: #29ACE0;
}
.nav-btn a:hover{
	color: blue!important;
}
	</style>
</head>

<body>

	<nav class="navbar navbar-expand-lg" style="background-color:#29ace0">
		<div class="container-fluid">
		  <a class="navbar-brand figure-img img-fluid rounded" href="/"><img src="../static/images/flogo.png" style="margin-left: 3%;" width="100px" height="100px"></a>
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon" style="background-color: black; height: 5px"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav" >
			<ul class="navbar-nav ml-auto" >
			  <li class="nav-item nav-btn">
				<a class="nav-link active" aria-current="page" href="/">Home</a>
			  </li>
			  <li class="nav-item nav-btn">
				<a class="nav-link" href="/about">About Us</a>
			  </li>
			  <li class="nav-item nav-btn">
				<a class="nav-link" href="/contact">Contact Us</a>
			  </li>
			  <li class="nav-item nav-btn">
				<a class="nav-link" href="/sops">SOP's</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link logout" style="border: 1px solid red; padding: 8px 10px; border-radius: 50px;" href="/logout">LOGOUT</a>
			  </li>
			</ul>
		  </div>
		</div>
	  </nav>

<h2 style="text-align:center; margin-top: 30px;">Please Follow SOP's</h2>

<div class="container" style="margin-top: 30px; margin-bottom: 30px;" >
<p><b>Adoption of SOPs and related measures:</b></p>

	Even though there has been a reduction in the Covid-19 cases at present, it is by no means over. It is reiterated that any carelessness on our part is likely to cause it to spread rapidly. It is imperative that we take appropriate preventative measures. Reopening of educational institutes carry a high risk of spread and all students are, therefore, requested to strictly abide by the following guidelines.
	
	<br><br><b>General guidelines for safety: </b><br><br>
	
	Frequent handwashing and use of hand sanitizers are recommended. Students are encouraged to make use of sanitizers placed around the campuses and sanitize their hands frequently.
	All kinds of physical contact – hugging, high fives and shaking hands must be avoided.
	Maintain a physical distance of 3-6 feet with other individuals.
	Keep your face covered at crowded places.
	Do not share food and drinks.
	Advanced booking/appointments must be made by the students to avoid rush outside faculty and administrative offices.
	The IBA is a smoke-free zone. However, for those who wish to smoke, ashtrays/containers have been placed at designated areas outside the campus. Crowding at these areas is strictly prohibited and 5 persons or less may be permitted at a spot at any times.
	<br><br><b>While entering the campus:</b><br><br>
	
	Entry to either of the campuses without a face mask will be denied.
	Avoid entering in groups. Students entering on foot should maintain a distance of 3-6 feet with one another.
	All students who commute via IBA shuttle service must wear masks, follow seating arrangement protocols and maintain appropriate physical distance.
	<br><br><b>When inside the campus:</b><br> <br>
	
	Avoid all places where overcrowding is common. If you are present at places such as the Library, Alumni Students' Centre or Prayer Area, then ensure that face masks are worn, and hand hygiene and social distancing protocols are strictly observed.
	Wearing of face masks is mandatory at all public spaces at the Main and City Campus.
	Please keep a distance of 3-6 feet between persons (friends, visitors, faculty, and staff) always.</p>
</div>
	<!--Footer-->
	<footer style="text-align: center; padding-top: 30px; background-color: #29ace0; margin-top: 0px;">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-12 mt-3 zoom" >
					<img src="../static/images/logo.png" style="margin-left: 8%;" width="150px" height="150px" class="figure-img img-fluid rounded" >
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 mt-3 list">
					<ul style="list-style: none;">
					
						<h3 style="text-align: center; font-size: 25px;"><b>Menu</b></h3>
					<li width="20%"><a href=""> HOME</a></li>
					<li width="20%"><a href="">ABOUT US</a></li>
					<li width="20%"><a href="">CONTACT US</a></li>
					<li width="20%"><a href="">SOPs</a></li>
					<li width="20%"><a href="">FAQs</a></li>
			
					</ul>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 mt-3 list">
					<ul style="list-style: none; color: black;">
						<h3 style="font-size: 25px;"><b>Our Aim</b></h3>
						<li>Save Lives</li>
						<li>Protect People</li>
						<li>Healthy Environment</li>
						<li>Decrease Covid Ratio</li>
						<li>Save Time</li>
		
					</ul>
				</div>
			</div>
		
		</div>
		<p class="cp-text">
			© Copyright 2022 COVID SOP'S CHECKER. All rights reserved.
		</p>
	</footer>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>